@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    outline: 1px solid rgb(241, 218, 15);
  }

  .header {
    padding-bottom: 28px;
  }

  .header-info-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .header-link.current::after {
    /* podgon */
    bottom: -29px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title-wrapper {
    margin-bottom: 48px;
  }
}
