:root {
  --dark-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --text-color: #434455;
  --light-color: #f4f4fd;
  --contrast-color: #ffffff;
  --accent-color: #e7e9fc;
  --light-slate-color: #8e8f99;
  --success-color: #31d0aa;
  --transition-dur-and-func: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
} */

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  /* margin-bottom: 8px; */
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* -----Header----- */

.header {
  background-color: var(--contrast-color);
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    outline: 1px solid green;
  }
}

.header-list {
  display: none;
}

.header-info-list {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-transform: uppercase;
}

.header-logo {
  display: block;
  color: var(--dark-color);
}

.primary {
  color: var(--primary-brand-color);
}

.mobile-menu-open {
  width: 32px;
  height: 22px;
  border: none;
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

.mobile-menu-open-icon {
  stroke: var(--dark-color);
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--contrast-color);

  padding-top: 80px;
  padding-bottom: 40px;
}

.mobile-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  padding-left: 40px;
  padding-right: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--transition-dur-and-func);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: var(--pressed-state-color);
}

.mobile-menu-close-icon {
  transition: fill var(--transition-dur-and-func);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: var(--contrast-color);
}

.menu-list {
  margin-bottom: 40px;
}
.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  transition: color var(--transition-dur-and-func);
}
.menu-link.current {
  color: var(--primary-brand-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-info-list {
  margin-bottom: 40px;
}

.menu-info-tel {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;

  margin-bottom: 40px;

  color: var(--primary-brand-color);
}

.menu-info-mail {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.menu-icon-list {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.menu-icon-item {
  width: 40px;
  height: 40px;
}

.menu-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition-dur-and-func);
}

.menu-icon-link:hover,
.menu-icon-link:focus {
  background-color: var(--pressed-state-color);
}

.menu-icon-svg {
  fill: var(--contrast-color);
}

/* -----Hero----- */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: var(--dark-color);
}

.hero-overlay {
  width: 100%;
  /* max-width: 1600px; */
  /* margin-left: auto;
  margin-right: auto; */
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title-wrapper {
  max-width: 320px;
  margin: auto;
  margin-bottom: 72px;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.72px;
  color: var(--contrast-color);
  text-transform: capitalize;
}

.hero-btn,
.footer-form-btn,
.modal-send-btn {
  color: var(--contrast-color);
  background-color: var(--primary-brand-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;

  transition: background-color var(--transition-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus,
.footer-form-btn:hover,
.footer-form-btn:focus,
.modal-send-btn:hover,
.modal-send-btn:focus {
  color: var(--contrast-color);
  background-color: var(--pressed-state-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}
/* -----Strategy-----*/

.strategy {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--contrast-color);
}
.strategy-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.strategy-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.strategy-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  /* margin-bottom: 8px; */
}

.strategy-text {
  font-weight: 500;
}

/* .strategy-list,
.result-list,
.team-list,
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
} */

/* -----Result----- */
@media screen and (max-width: 1158px) {
  .result {
    display: none;
  }
}

/* -----Team----- */

.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light-color);
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}

.team-container {
  background: var(--contrast-color);
  border-radius: 0px 0px 4px 4px;

  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* .team-subtitle,
.team-text {
  text-align: center;
} */

.team-icon-list {
  /* margin-top: 8px; */
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: backgroung-color var(--transition-dur-and-func);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--pressed-state-color);
}

.team-icon-svg {
  fill: var(--contrast-color);
}

/* -----Customers----- */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--contrast-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item {
  width: calc((100% - 1 * 16px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  color: var(--light-slate-color);
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.customers-icon-svg {
  fill: currentColor;
  width: 110px;
  height: 56px;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

/* -----Portfolio----- */

.portfolio {
  padding-top: 96px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  line-height: 1.5;
  text-align: center;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  padding: 12px 24px;

  box-shadow: none;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--contrast-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.card-list {
  row-gap: 48px;
}

.card-item {
  width: calc((100% - 2 * 24px) / 3);
}

.card-link {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--transition-dur-and-func);
}

.card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-container {
  background: var(--contrast-color);
  border: 1px solid var(--accent-color);
  border-top: none;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-overlay-container {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);

  padding: 40px 32px 16px;
  color: var(--light-color);
  background-color: var(--primary-brand-color);

  transition: transform var(--transition-dur-and-func);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translate(0, 0);
}

/* -----Footer----- */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer-container-logo,
.footer-container-icon,
.footer-container-mail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-logo {
  line-height: 1.16;
  color: var(--light-color);
}

.footer-text {
  width: 264px;
  color: var(--accent-color);
}

.footer-title {
  font-weight: 500;
  color: var(--contrast-color);
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-dur-and-func);
}

.footer-icon-svg {
  fill: var(--light-color);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--success-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.footer-form-label {
  width: inherit;
}
.footer-form-email {
  height: 40px;
  width: 100%;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--contrast-color);

  padding: 8px 16px;

  transition: border-color var(--transition-dur-and-func);
}

.footer-form-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-email:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.footer-form-btn {
  padding: 8px 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}

/* -----Modal----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transition-dur-and-func);

  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal-container {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--transition-dur-and-func);
}

.close-btn-modal:hover,
.close-btn-modal:focus {
  background-color: var(--pressed-state-color);
}

.close-btn-modal-svg {
  transition: fill var(--transition-dur-and-func);
}

.close-btn-modal:hover .close-btn-modal-svg,
.close-btn-modal:focus .close-btn-modal-svg {
  fill: var(--contrast-color);
}

/* .modal-for-hero {
  display: flex;
} */

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

.check-inp {
  width: 16px;
  height: 16px;
}

.textarea-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
}
