/* -----Header----- */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header {
    padding-bottom: 10px;
  }

  .mobile-menu-open,
  .mobile-menu {
    display: none;
  }

  .header-nav {
    gap: 123px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--dark-color);

    transition: color var(--transition-dur-and-func);
  }

  .header-link.current {
    color: var(--primary-brand-color);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    left: 0;

    bottom: -17px;
  }

  .header-link:hover,
  .header-link:focus,
  .header-info:hover,
  .header-info:focus {
    color: var(--pressed-state-color);
  }

  .header-info-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .header-info {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: var(--text-color);

    transition: color var(--transition-dur-and-func);
  }

  /*-----Hero-----*/
  .hero {
    padding-bottom: 108px;
  }
  .hero-container {
    gap: 40px;
  }
  .hero-title-wrapper {
    max-width: 496px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }

  /* -----Strategy-----*/
  .strategy-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .strategy-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  .strategy-subtitle {
    text-align: left;
  }

  /* -----Team----- */
  @media screen and (max-width: 1158px) {
    .team > .container,
    .customers > .container,
    .footer > .container {
      padding-left: 108px;
      padding-right: 108px;
    }
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item,
  .card-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  /* -----Customers----- */
  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .customers-icon-svg {
    width: 104px;
  }

  /* -----Footer----- */
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-container-logo,
  .footer-container-icon,
  .footer-container-mail {
    align-items: baseline;
    width: calc((100% - 1 * 24px) / 2);
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-form-email {
    width: 264px;
  }

  .footer-form {
    gap: 24px;
  }

  /* -----Portfolio----- */
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filter-list {
    justify-content: center;
    margin-bottom: 64px;
  }

  .filter-item:nth-child(3n + 3) {
    margin-right: 0;
  }

  .card-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .card-img {
    height: 300px;
  }

  /* -----Modal----- */
  .modal-container {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
