/* -----Header----- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    /* outline: 1px, solid, green; */
    outline: none;
  }
  .header {
    padding-bottom: 10px;
  }

  .mobile-menu-open,
  .mobile-menu {
    display: none;
  }

  .header-nav {
    gap: 123px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--dark-color);

    transition: color var(--transition-dur-and-func);
  }
  .header-link.current {
    color: var(--primary-brand-color);
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    left: 0;
    bottom: -17px;
  }

  .header-link:hover,
  .header-link:focus,
  .header-info:hover,
  .header-info:focus {
    color: var(--pressed-state-color);
  }

  .header-info-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .header-info {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: var(--text-color);

    transition: color var(--transition-dur-and-func);
  }
}
